<!-- 
  Copyright (c) 2025 Structural Line Incorporated
  SPDX-License-Identifier: GPL-2.0-or-later
  https://sl-inc.co.jp
-->

<%# フィルタ、オプション、表示する年月、カスタムクエリ を設定するフォーム%>

<%# プロジェクトIDが取得できなければ全てのプロジェクトを表示する %>
<% action_name = @project.present? ? 'show' : 'show_all_projects' %>

<% base = { controller: 'detailed_schedule_gantt', action: action_name } %>
<% base[:project_id] = @project if @project.present? %>

<% url_opts = base.merge(
      month:  params[:month],
      year:   params[:year],
      months: params[:months]
    ) %>

<%= form_tag(url_opts, method: :get, id: 'query_form') do %>
  <%= hidden_field_tag 'set_filter', '1' %>

  <%# フィルタ %>
  <div id="query_form_with_buttons" class="hide-when-print">
    <div id="query_form_content">
      <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
        <legend onclick="toggleFieldset(this);" class="icon icon-<%= @query.new_record? ? "expanded" : "collapsed" %>">
          <%= sprite_icon(@query.new_record? ? "angle-down" : "angle-right", rtl: !@query.new_record?) %>
          <%= l(:label_filter_plural) %>
        </legend>
        <div style="<%= @query.new_record? ? "" : "display: none;" %>">
          <%= render partial: 'queries/filters', locals: { query: @query } %>
        </div>
      </fieldset>

      <%# オプション %>
      <fieldset id="options" class="collapsible collapsed">
        <legend onclick="toggleFieldset(this);" class="icon icon-collapsed">
          <%= sprite_icon("angle-right", rtl: true) %>
          <%= l(:label_options) %>
        </legend>
        <div style="display: none;">
          <div>
            <fieldset>
              <legend><%= l(:field_column_names) %></legend>
              <div id="list-definition">
                <div>
                  <label for="draw_selected_columns">
                    <%= check_box 'query', 'draw_selected_columns', id: 'draw_selected_columns', 'data-enables' => '#list-definition .query-columns select, #list-definition .query-columns input' %>
                    <%= l(:label_display) %>
                  </label>
                </div>
                <div>
                  <%= render_query_columns_selection(@query) %>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend><%= l(:label_related_issues) %></legend>
              <label for="draw_relations">
                <%= check_box 'query', 'draw_relations', id: 'draw_relations' %>
                <% [IssueRelation::TYPE_BLOCKS, IssueRelation::TYPE_PRECEDES].each do |rel| %>
                  <% color = Redmine::Helpers::Gantt::DRAW_TYPES[rel][:color] %>
                  <%= content_tag(:span, '&nbsp;&nbsp;&nbsp;'.html_safe, style: "background-color: #{color}") %>
                  <%= l(IssueRelation::TYPES[rel][:name]) %>
                <% end %>
              </label>
            </fieldset>
            <fieldset>
              <legend><%= l(:label_gantt_progress_line) %></legend>
              <label for="draw_progress_line">
                <%= check_box 'query', 'draw_progress_line', id: 'draw_progress_line' %>
                <%= l(:label_display) %>
              </label>
            </fieldset>
          </div>
        </div>
      </fieldset>
    </div>

    <%# 1か月進む または、戻るボタン %>
    <p class="contextual">
      <span>
        <%= link_to_previous_month(@gantt.year_from, @gantt.month_from, accesskey: accesskey(:previous)) %> |
        <%= link_to_next_month(@gantt.year_from, @gantt.month_from, accesskey: accesskey(:next)) %>
      </span>
    </p>

    <%# このスプレッドシートに戻ってくるためのアクションを定義 %>
    <% project_ref = @project&.identifier || @project&.id %>
    <% back_to_spreadsheet = 
			if project_ref.present?
				url_for(
					controller: 'detailed_schedule_gantt',
					action: 'show',
					project_id: @project,
					spreadsheet: 1,     
					only_path: true 
      	) 
			else
				url_for(
					controller: 'detailed_schedule_gantt',
					action: 'show_all_projects',
					spreadsheet: 1,     
					only_path: true 
      	) 
			end
		%>

    <p class="buttons">
      <%= number_field_tag 'months', @gantt.months, min: 1, max: Setting.gantt_months_limit.to_i, autocomplete: false %>
      <%= l(:label_months_from) %>
      <%= select_month(@gantt.month_from, prefix: "month", discard_type: true) %>
      <%= select_year(@gantt.year_from, prefix: "year", discard_type: true) %>

      <%# クリアボタン %>
      <%= button_tag type: 'submit', class: 'icon icon-checked' do %>
        <%= sprite_icon('checked', l(:button_apply)) %>
      <% end %>

      <%# クリアボタン %>
      <%= link_to sprite_icon('reload', l(:button_clear)), { project_id: @project, set_filter: 1 }, class: 'icon icon-reload' %>

      <%# カスタムクエリを保存ボタン %>
      <% if @query.new_record? && User.current.allowed_to?(:save_queries, @project, global: true) %>
        <%= link_to(
          sprite_icon('save', l(:button_save_object, object_name: l(:label_query)).capitalize),
          (@project ?
            new_project_query_path(@project, back_url: back_to_spreadsheet) :
            new_query_path(back_url: back_to_spreadsheet)),
          class: 'icon icon-save button'
        ) %>
      <% end %>

      <% if !@query.new_record? && @query.editable_by?(User.current) %>
        <%# カスタムクエリを編集ボタン %>
        <%= link_to sprite_icon('edit', l(:button_edit_object, object_name: l(:label_query)).capitalize),
                    edit_query_path(@query, back_url: back_to_spreadsheet),
                    class: 'icon icon-edit' %>

        <%# カスタムクエリを削除ボタン %>
        <%= delete_link(
          query_path(@query, back_url: back_to_spreadsheet),
          {},
          l(:button_delete_object, object_name: l(:label_query)).capitalize
        ) %>
      <% end %>

      <!-- エディットモード切替ボタン -->
      <%# プロジェクトを選択していればボタンを表示、していなければ読み取り専用 %>
      <span class="editmode-with-indicator">
        <% if @project %>
          <button id="toggle-edit-mode" type="button">
            <span id="edit-mode-status">編集モード</span>
          </button>
        <% else %>
          <span class="read-only-btn">
            <span>読み取り専用</span>
          </span>
        <% end %>

        <span id="loading-indicator">
          <span class="spinner"></span>
          <span>読み込み中...</span>
        </span>
      </span>
    </p>
  </div>
<% end %>